<main>
  <div class="container">
    <figure>
      <img src="../../../assets/img/Logo.svg" alt="Logo Trakto">
    </figure>
    <section class="dados">
      <p>Olá, faça login em sua conta.</p>

      <label for="input1" [style.color]="label1Color">E-mail</label>
      <input type="text" id="='input1" (focus)="onInputFocus('input1')" (blur)="onInputBlur('input1')" placeholder="Digite seu melhor e-mail."  >
      <label for="input2" [style.color]="label2Color">Senha</label>
      <input type="password" id="='input" (focus)="onInputFocus('input2')" (blur)="onInputBlur('input2')" placeholder="Digite sua senha.">
    </section>
    <div class="btn">
      <button type="submit">Entrar</button>
    </div>
  </div>
</main>
