<main>
  <div class="container">
    <figure class="logo" [routerLink]="['/abertura']" routerLinkActive="router-link-active" >
      <img id="logo" src="assets/img/logo_light.svg" alt="Logo Trakto">
      <button class="btn-header">
        <img src="assets/img/logout.svg" alt="Simbolo Logout">
        <p> Trocar de ambiente </p>
      </button>

    </figure>
    <section class="nav">
      <figure class="data">
        <span class="material-symbols-outlined">
              calendar_month
              </span>
        <p>{{today}}</p>
      </figure>
      <hr>
      <figure class="notificacao">
        <span class="material-symbols-outlined">
          notifications
          </span>
      </figure>
      <hr>
      <div class="avatar">
        <button class="btn-avatar"></button>
        <span (click)="dropdownToggle1()" class="material-symbols-outlined icon-avatar">
          arrow_drop_down
        </span>
        <span (click)="dropdownToggle()" class="material-symbols-outlined icon-avatar-dropdown">
          menu
        </span>

        <div class="menu-dropdown" [ngClass]="{'menu-dropdown': botaoAtivo1, 'menu-dropdown-ativo': !botaoAtivo1}">
          <a href="/material">Material didático</a>
          <a href="#">Quiz</a>
          <a href="#">Desenho</a>
          <a href="https://www.youtube.com/@Trakto" target="_blank">Youtube</a>
        </div>

        <div class="dropdown" [ngClass]="{'dropdown': botaoAtivo, 'dropdown-ativo': !botaoAtivo}">
          <div class="data-dropdown">
            <span class="material-symbols-outlined">
              calendar_month
              </span>

            <p>{{ today }}</p>
          </div>
          <div class="notificacao-dropdown">
            <span class="material-symbols-outlined">
              notifications
              </span>
            <p>Notificação</p>
          </div>
          <div class="menu">
            <a href="/material">Material didático</a>
            <a href="#">Quiz</a>
            <a href="#">Desenho</a>
            <a href="https://www.youtube.com/@Trakto" target="_blank">Youtube</a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
