@media(max-width: 900px) {
 .logo{
  padding-right: 2rem;
  gap: 1rem;
 }
  .btn-header{
  font-size: 0.7rem;
  padding: 1rem 0.5rem;
  width: auto;
  gap: 5px;
 }

}

@media (max-width: 768px){
  .container{
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 0;
  }

  .logo{
    padding-left: 0;

  }

  .nav{
    padding-right: 0;
  }

  .btn-avatar{
    margin-left: 2rem;
  }

  span{
    padding-right: 2rem;
  }

  .data, .notificacao, hr{
    display: none;
  }

  .avatar{
    position: relative;
    padding-right: 2rem;
  }

  .icon-avatar{
    display: none;
  }

  .icon-avatar-dropdown{
    display: block;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;

    background-color: var(--bg-input-color);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    visibility: hidden;
  }

  .dropdown-ativo{
    position: absolute;
    top: 100%;
    right: 0;


    background-color: var(--bg-input-color);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    visibility: initial;
  }

  .data-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .data-dropdown img{
    width: 20%;
  }

  .notificacao-dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }

  .material-symbols-outlined{
    padding: 0;
  }
}
  .menu{
    display:flex;
    flex-direction: column;
    justify-content: space-;
    align-items: center;
    gap: 10px;
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--font-header-material-color);
    /* visibility: hidden; */
  }

  .menu-ativo{
    visibility: initial;
  }

  .menu a{
    text-decoration: none;
    color: var(--font-header-material-color);
    cursor:pointer;
  }

@media (max-width: 425px) {

  .btn-header{
    padding: 0.5rem 0.5rem;
  }
  .btn-header p{
    display: none;
  }
}


