 main{
  width: 100vw;
  height: auto;
  background-color: var(--bg-login-color);
}

.container{
  width: 100%;
  height: 100%;
  background-color: var(--bg-material-color);
}


.material{
  background-color: var(--bg-login-color);
  width: 100%;
  height: 100%;
  font-family: var(--font-family-primary);
  padding-top: 4.75rem;
}

.header{
  background-color: var(--bg-input-color);
  width: auto;
  padding: 3.5rem 4.5rem;
  padding-bottom: 2.8125rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-header{
  width: 100%;
  height: auto;
}

.header p{
  font-size: 1rem;
  color: var(--font-header-material-color);
  font-weight: 500;
  line-height: 1.1875rem;
}

.header p:nth-child(2){
  font-weight: 400;
}

.title{
  font-family: var(--font-family-primary);
  font-size:1.5rem;
  color: var(--font-carousel-color);
  font-weight: 700;
  line-height: 1.75rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}


.section-card{
  background-color: var(--bg-input-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-right: 2.625rem;
  padding-bottom: 4rem;
  padding-left: 4.5rem;
  margin: 3.5rem 4rem;
  margin-top: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

.card{
  width: auto;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #7183A6;
  flex-wrap: wrap;
  align-content: space-around;
}

.card img{
  width: 19.375rem;
  height: 10.875rem;
  border: 1px solid #7183A6;
  border-radius: 0.5rem;
}

.listaTemplate{
  display: flex;
  flex-direction: row;
  width: 19.375rem;
  border: 1px solid #7183A6;
}



