<main>
  <div class="container">
    <app-header></app-header>
    <section class="material">
      <div class="header">
        <div class="info-header">
          <h1 class="title">Material didático</h1>
          <p>Acesse suas últimas apresentações de aula.</p>
        </div>
      </div>

      <div class="section-card" #myScrollableElement style="overflow-x: scroll;">

            <div class="card">
              <img src="assets/img/aula-1.svg" alt="Tela inicial do curso">
              <figcaption>Aula 1: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-2.svg" alt="Tela inicial do curso">
              <figcaption>Aula 2: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-3.svg" alt="Tela inicial do curso">
              <figcaption>Aula 3: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-4.svg" alt="Tela inicial do curso">
              <figcaption>Aula 4: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-5.svg" alt="Tela inicial do curso">
              <figcaption>Aula 5: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-1.svg" alt="Tela inicial do curso">
              <figcaption>Aula 6: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-2.svg" alt="Tela inicial do curso">
              <figcaption>Aula 7: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-3.svg" alt="Tela inicial do curso">
              <figcaption>Aula 8: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-4.svg" alt="Tela inicial do curso">
              <figcaption>Aula 9: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-5.svg" alt="Tela inicial do curso">
              <figcaption>Aula 10: Fono-ortografia</figcaption>
            </div>
            <div class="card">
              <img src="assets/img/aula-1.svg" alt="Tela inicial do curso">
              <figcaption>Aula 6: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-2.svg" alt="Tela inicial do curso">
              <figcaption>Aula 7: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-3.svg" alt="Tela inicial do curso">
              <figcaption>Aula 8: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-4.svg" alt="Tela inicial do curso">
              <figcaption>Aula 9: Fono-ortografia</figcaption>
            </div>

            <div class="card">
              <img src="assets/img/aula-5.svg" alt="Tela inicial do curso">
              <figcaption>Aula 10: Fono-ortografia</figcaption>
            </div>
      </div>

    </section>
  </div>
 </main> 