<main>
  <div class="container">
    <app-header-light></app-header-light>
    <section class="material">
      <div class="header">
        <div class="info-header">
          <h1 class="title">Material didático</h1>
          <p>Acesse suas últimas apresentações de aula.</p>
        </div>
      </div>

      <div class="section-card" #myScrollableElement style="overflow-x: scroll;">
        <div class="card" *ngFor="let template of templates">
          <img [src]="template.image" alt="{{ template.image }}">
          <h3 class="listaTemplate">{{ template.title }}</h3>
        </div>
      </div>

    </section>
  </div>
 </main>
