<main>
  <div class="container">
    <figure class="logo">
      <img src="../../../assets/img/Logo2.svg" alt="Logo Trakto">
    </figure>
    <section class="nav">
      <figure class="data">
        <img src="../../../assets/img/calendar.svg" alt="Símbolo calendário">
        <p>21/04/2023</p>
      </figure>
      <hr>
      <figure class="notificacao">
        <img src="../../../assets/img/notification.svg" alt="Símbolo notificação">
      </figure>
      <hr>
      <div class="avatar">
        <button class="btn-avatar"></button>
        <span class="material-symbols-outlined">
          arrow_drop_down
          </span>
      </div>
    </section>
  </div>
</main>
