<main>
  <div class="container">
    <figure class="logo" [routerLink]="['/abertura']" routerLinkActive="router-link-active" >
      <img src="assets/img/Logo2.svg" alt="Logo Trakto">
    </figure>
    <section class="nav">
      <figure class="data">
        <img src="assets/img/calendar.svg" alt="Símbolo calendário">
        <p>{{today}}</p>
      </figure>
      <hr>
      <figure class="notificacao">
        <img src="assets/img/notification.svg" alt="Símbolo notificação">
      </figure>
      <hr>
      <div class="avatar">
        <button class="btn-avatar"></button>
        <span class="material-symbols-outlined icon-avatar">
          arrow_drop_down
        </span>
        <span (click)="dropdownToggle()" class="material-symbols-outlined icon-avatar-dropdown">
          menu
        </span>
        <div class="dropdown" [ngClass]="{'dropdown': botaoAtivo, 'dropdown-ativo': !botaoAtivo}">
          <div class="data-dropdown">
            <img src="assets/img/calendar.svg" alt="Símbolo calendário">
            <p>{{ today }}</p>
          </div>
          <div class="notificacao-dropdown">
            <img src="assets/img/notification.svg" alt="Símbolo notificação">
            <p>Notificação</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
