

:root{
  --font-family-primary: 'Roboto', sans-serif;
  --font-primary-color: #04183E;
  --font-secondary-color: #0095FF;
  --font-btn-color: #FFFFFF;
  --font-error-color: #DC3545;

  --bg-login-color: #F5F5F5;
  --bg-btn-color: #1DC763;
  --bg-btn-hover-color: #148945;
  --bg-input-color: #FFFFFF;
  --bg-abertura-color: #1D1B1B;

  --border-input-color: #E4EBFB;
  --border-input-hover-color: #66AFFF;

  --line-title1-color: #4173CD;
  --line-title2-color: #1DC763;
  --line-title3-color: #F6B5FF;
  --line-title4-color: #FF0000;

}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
}
