.material{
  background-color: var(--bg-input-color);
  width: 100%;
  font-family: var(--font-family-primary);
  margin-top: 48px;
}

.header{
  width: auto;
  height: 100%;
  padding: 3.5rem 4.5rem;
  padding-bottom: 2.8125rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-header, .btn{
  width: 100%;
  height: 100%;
}

.header p{
  font-size: 1rem;
  color: var(--font-header-material-color);
  font-weight: 500;
  line-height: 19px;
}

.header p:nth-child(1){
  width: auto;
  display: flex;
  align-items: center;
}

.btn-cont {
  border: none;
  background-color: transparent;
  color: var(--font-header-material-color);
  cursor: pointer;
}

.btn-data{
  background-color: var(--font-header-light-color);
  font-size: 1rem;
  color: var(--font-header-material-color);
  font-weight: 500;
  line-height: 1.1875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 31.25rem;
  border: none;
  cursor: pointer;
}

.header p:nth-child(2){
  font-weight: 400;
}

.title-carousel{
  font-family: var(--font-family-primary);
  font-size:24px;
  color: var(--font-carousel-color);
  font-weight: 700;
  line-height: 1.75rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.btn {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}
.btn button:hover{
  background-color: var(--font-header-light-color);
}

.btn button{
  padding: 1rem 0.875rem;
  border: 1px solid var(--font-btn-border-color);
  border-radius: 0.5rem;
  color: var(--font-btn-border-color);
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  cursor:pointer;
}

.section-card{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0 4.5rem;
  max-width: 112rem;
  overflow: scroll;
  scroll-behavior: smooth;
}

.card{
  max-width: 19.375rem;
  padding-bottom: 5.25rem;
  cursor: pointer;
}

.card figcaption{
  height: 2.875rem;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--font-carousel-color);

}

a{
  text-decoration: none;
  display: flex;
  align-items: center;
 gap: 8px;
 color: var(--font-btn-video-color);
}


#btn-video{
  display:flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--font-btn-video-color);
}


