<main>
  <div class="container">
    <app-header></app-header>
    <div class="conteudo">
      <section class="banner">
        <!-- <div class="overlay"></div>
        <div class="light"></div> -->
        <div class="texto">
          <h1 class="title">Conheça a jornada do Trakto Edu</h1>
          <p class="info">O design como ferramenta educadora.</p>
        </div>
        <figure>
          <div class="indicacao">
            <img src="../../../assets/img/Tiago Mochileiro.svg" alt="Assinatura Thiago Mochileiro">
            <img src="../../../assets/img/Vector.svg" alt="Seta">
          </div>
          <div class="pessoa">
            <img src="../../../assets/img/homem.svg" alt="Homom de braços cruzados">
          </div>

        </figure>
      </section>
      <section class="material">

      </section>
      <section class="videos">

      </section>
    </div>

  </div>
</main>
