<main>
  <div class="container">
    <app-header></app-header>
    <div class="conteudo">
      <section class="banner">
        <div class="section1">
          <div class="texto">
            <h1 class="title">Conheça a jornada do Trakto Edu</h1>
            <p class="info">O design como ferramenta educadora.</p>
          </div>
        </div>
        <div class="section2">
          <figure>
            <div class="box">
              <div class="indicacao">
                <img src="../../../assets/img/Tiago Mochileiro.svg" alt="Assinatura Thiago Mochileiro">
                <img src="../../../assets/img/Vector.svg" alt="Seta">
              </div>
            </div>
            <div class="pessoa">
              <img src="../../../assets/img/homem.svg" alt="Homom de braços cruzados">
            </div>
          </figure>
        </div>
      </section>

      <section class="material">
        <div class="header">
          <div class="info-header">
            <p ><button class="btn-data" >Semana 06/02 até 28/02</button>
              <button (click)="offButtonClick()" class="material-symbols-outlined btn-cont">chevron_left</button>
              <button (click)="onButtonClick()" class="material-symbols-outlined btn-cont">chevron_right</button>
            </p>

            <h1 class="title">Material didático</h1>
            <p>Acesse suas últimas apresentações de aula.</p>
          </div>
          <div class="btn">
            <button>Ver todo o conteúdo </button>
          </div>
        </div>

        <div class="section-card" #myScrollableElement style="overflow-x: scroll;">

              <div class="card">
                <img src="assets/img/aula-1.svg" alt="Tela inicial do curso">
                <figcaption>Aula 1: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-2.svg" alt="Tela inicial do curso">
                <figcaption>Aula 2: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-3.svg" alt="Tela inicial do curso">
                <figcaption>Aula 3: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-4.svg" alt="Tela inicial do curso">
                <figcaption>Aula 4: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-5.svg" alt="Tela inicial do curso">
                <figcaption>Aula 5: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-1.svg" alt="Tela inicial do curso">
                <figcaption>Aula 6: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-2.svg" alt="Tela inicial do curso">
                <figcaption>Aula 7: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-3.svg" alt="Tela inicial do curso">
                <figcaption>Aula 8: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-4.svg" alt="Tela inicial do curso">
                <figcaption>Aula 9: Fono-ortografia</figcaption>
              </div>

              <div class="card">
                <img src="assets/img/aula-5.svg" alt="Tela inicial do curso">
                <figcaption>Aula 10: Fono-ortografia</figcaption>
              </div>
        </div>
        <!-- <div *ngFor="let item of this.items">
          <p>{{items}}</p></div> -->
      </section>
      <section class="videos">

      </section>
    </div>

  </div>
</main>
