<main>
  <div class="container">
    <app-header-light></app-header-light>
    <div class="conteudo">
      <section class="banner">
        <div class="section1">
          <div class="texto">
            <h1 class="title">Conheça a jornada do Trakto Edu</h1>
            <p class="info">O design como ferramenta educadora.</p>
          </div>
        </div>
        <div class="section2">
          <figure>
            <div class="box">
              <div class="indicacao">
                <img src="../../../assets/img/Tiago Mochileiro.svg" alt="Assinatura Thiago Mochileiro">
                <img src="../../../assets/img/Vector.svg" alt="Seta">
              </div>
            </div>
            <div class="pessoa">
              <img src="../../../assets/img/homem.svg" alt="Homom de braços cruzados">
            </div>
          </figure>
        </div>
      </section>

      <section class="material">
        <div class="header">
          <div class="info-header">
            <p ><button class="btn-data" >Semana 06/02 até 28/02</button>
              <button (click)="offButtonClick()" class="material-symbols-outlined btn-cont">chevron_left</button>
              <button (click)="onButtonClick()" class="material-symbols-outlined btn-cont">chevron_right</button>
            </p>

            <h1 class="title-carousel">Material didático</h1>
            <p>Acesse suas últimas apresentações de aula.</p>
          </div>
          <div class="btn">
            <button routerLink="/todos">Ver todo o conteúdo </button>
          </div>
        </div>

        <div class="section-card" #myScrollableElement style="overflow-x: scroll;">
          <div class="card" *ngFor="let template of templates ">
            <img [src]="template.image" alt="{{ template.image }}">
            <h3 class="listaTemplate">{{ template.title }}</h3>
          </div>
        </div>
      </section>
      <section class="material">
        <div class="header">
          <div class="info-header">
            <p ><button class="btn-data" >Semana 06/02 até 28/02</button>
              <button (click)="offButtonClick2()" class="material-symbols-outlined btn-cont">chevron_left</button>
              <button (click)="onButtonClick2()" class="material-symbols-outlined btn-cont">chevron_right</button>
            </p>

            <h1 class="title-carousel">Video aulas</h1>
            <p>Complemente os estudos assistindo o conteúdo de forma dinâmica.</p>
          </div>
          <div class="btn ">
            <button id="btn-video" ><a href="https://www.youtube.com/@PrefeituradePenedo" target="_blank"><img src="../../../assets/img/icon-video.svg" alt="Icone YouTube">
              Abrir no Youtube
            </a></button>

          </div>
        </div>

        <div class="section-card" #myScrollableElement2 style="overflow-x: scroll;">

              <div class="card">
                <img src="assets/img/video-1.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-2.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-3.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-4.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-5.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-1.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-2.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-3.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-4.svg" alt="Tela inicial do curso">
              </div>

              <div class="card">
                <img src="assets/img/video-5.svg" alt="Tela inicial do curso">
              </div>
        </div>
      </section>

    </div>

  </div>
</main>
