
@media (max-width: 1760px){
  .texto{
    margin-top: 9rem;
    margin-bottom: 9rem;
  }
}

@media (max-width: 1664px){
  .texto{
    margin-left: 3.5rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .title{
    font-size: 4rem;
  }

  .section2{
  padding-right: 3%;
  }

  .pessoa{
    width: 80%;
    object-fit: cover;
  }
}

@media (max-width: 1480px){

  .banner{
    height: auto;
  }

  .indicacao{
    bottom: 1rem;
  }

  .title{
    font-size: 3.3rem;
  }

  .info{
    font-size: 1.8rem;
  }

  .indicacao{
    bottom: 3.5rem;
  }

  .indicacao img:nth-child(1){
  bottom: -0.75rem;
  }

  .indicacao img:nth-child(2){
  width: 30%;
  height: auto;
  }
}

@media (max-width:1249px){
  .texto{
  margin-top: 7rem;
  margin-bottom: 7rem;
  }

  .title{
    font-size: 3rem;
  }

  .info{
    font-size: 1.5rem;
  }

  .indicacao{
    bottom: 4.5rem;
  }
}

@media (max-width: 1157px){
  .title{
    font-size: 2.7rem;
  }
}

@media (max-width: 1048px){

  .texto{
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
  }
  .title{
    font-size: 2rem;
  }

  .info{
    font-size: 1.2rem;
  }

  .indicacao{
    bottom: 7.5rem;
  }
}

@media (max-width:768px){
  .texto{
    margin-left: 1rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.title{
    font-size: 1.5rem;
  }

  .info{
    font-size: 1rem;
  }

  .indicacao{
    bottom: 2.5rem;
  }
}

@media(max-width: 710px){
  .texto{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .info{
    font-size: 0.8rem;
  }

  .indicacao{
    bottom: 3.5rem;
    right: 1rem;
  }

  .indicacao img:nth-child(1){
    bottom: 0.2rem;
  }
}

@media(max-width: 600px){
  .texto{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px){

  .conteudo{
    left: 2rem;
    right: 2rem;
    height: auto;
  }

  .container{
    width: 100%;
    height: 100%;
  }

  .banner{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70vh;
  }

  .section1, .section2{
    width: 100%;
    height: auto;
  }

  .section2{
    width: 100%;
    height: 55%;
    padding: 0;
  }

  .texto{
    padding: 0 1rem;
    margin: 1.5rem 0;
  }

  .indicacao{
    right: 0;
  }
}
