

<main>
  
  <div class="container">
    <app-header></app-header>
    <div class="acao">
      <h1 class="title1">Material didático</h1>
      <a href=""><img src="../../../assets/img/mat_did.svg" alt="Desenho de livros"></a>
    </div>
    <div class="acao">
      <h1 class="title2">Quiz</h1>
      <a href=""><img src="../../../assets/img/quiz.svg" alt="Desenho de medalha"></a>
    </div>
    <div class="acao">
      <h1 class="title3">Desenho</h1>
      <a href=""><img src="../../../assets/img/desenho.svg" alt="Pincel com aquarela"></a>
    </div>
    <div class="acao">
      <h1 class="title4">YouTube</h1>
      <a href=""><img src="../../../assets/img/youtube.svg" alt="Icone YouTube"></a>
    </div>
  </div>
</main>
